# .NET
*.dll
*.exe
*.pdb
*.user
*.bin
*.vsidx
*.bak
*.cache
*.suo
*.tmp
*.log
*.vspscc
*_i.c
*_p.c
*.ncb
*.sln.docstates
*.tlb
*.tlh
*.bak
*.obj
*.ilk
*.mdf
*.ldf
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
TestResults/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.swp

/node_modules
/wwwroot/node_modules


# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# JSP
*.class
*.war
*.ear
*.jar

# PHP
vendor/
composer.lock
composer.phar
.env

/Angular/exam-FE
